$font: 'Ubuntu', sans-serif;
$general-radius: 15px;
$general-padding: 20px;

$background: aquamarine;

$color-primary-1: aquamarine;
$color-primary-2: white;
$color-primary-3: rgb(123, 202, 123);

$color-secondary-1: rgb(194, 194, 194);
$color-secondary-2: red;
$color-secondary-3: rgb(170, 46, 170);

$box-size: 15px;
$box-margin: 2px;

$controls-border: 1px solid;
$button-size: 50px;

body {
	font-family: $font;
}

#background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-color: $background;
	
	display:  flex;
	justify-content: center;
	align-items: center;
}

#beat-container {
	border-radius: $general-radius;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $color-primary-2;
	width: 70%;
	height: 70%;
	padding: 3 * $general-padding;
}

#controls {
	width: 100%;

	background-color: $color-secondary-1;
	border-radius: $general-radius;
	
	padding: $general-padding;
}

.button {
	font-family: $font;
	width: $button-size;
	height: $button-size;
	border-radius: 100%;
	border: $controls-border;
}

#controls input {
	font-family: $font;
	width: 40px;
	border: $controls-border;
}

#controls select {
	font-family: $font;
	width: 40px;
	border: $controls-border;
}

.boxes {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 70%;
	background-color: $color-secondary-1;
	border-radius: $general-radius;
	padding: $general-padding;
}

#highlighter-container {
	align-self: flex-end;
	width: 70%;
	background-color: $color-secondary-1;
	border-radius: $general-radius;
	padding: $general-padding;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.highlight {
	background-color: $color-secondary-3;
	width: $box-size + $box-margin;
	height: $box-size;
	margin: $box-margin;
	border-radius: $general-radius;
	border: 2px solid;

	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin: $box-margin;
}

.box {
	width: $box-size;
	height: $box-size;
	border: 2px solid;
	margin: $box-margin;

	display: flex;
	justify-content: center;
	align-items: center;
}

.off {
	background-color: $color-primary-2;
}

.on {
	background-color: $color-primary-3;
}

.playing {
	border-color: $color-primary-1;
}